---
layout: page
title: CATEGORY INDEX
permalink: /wall-of-shame
title: Wall of shame
tags: [Categories]
description: "Une archive pour les posts triée par catégories."
---

<!--Will prioritize the altDate over the normal date if it exists-->
<ul class="post-list">
  {% for tag in site.wall | reverse %}
  <li><a href="{{site.url}}{{tag.url}}">{{ tag.content }} </a><span>
    {% if tag.altDate %}
      - {{ tag.genie }} | {{ tag.altDate }}
    {% else %}
      - {{ tag.genie }} | {{ tag.date | date: "%-d/%m/%Y" }}
    {% endif %}
    </span></li>
  {% endfor %}
</ul>
